
<%= form_tag("/create", method: "post") do %>
  <%= label_tag(student[:first_name], "First Name:") %>
  <%= text_field_tag(:first_name) %>
  <%= label_tag(student[:last_name], "Last Name:") %>
  <%= text_field_tag(:last_name) %>
  <%= submit_tag("Submit") %>
<% end %>


<form accept-charset="UTF-8" action="/search" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="q">Search for:</label>
  <input id="q" name="q" type="text" />
  <input name="commit" type="submit" value="Search" />
</form>
